<app-user-profile [currentUser]="authService.currentUser$ | async"></app-user-profile>
<br>
<ng-container *ngFor="let option of gameService.game">
    <button *ngIf="(authService.currentUser$ | async) as user" (click)="playerSelection(option,user)">{{option.name}} |
        {{option.visual}}</button>
    <hr>
</ng-container>
<br>
<br>
<h2>GAMES AVAILABLE</h2>
<ng-container *ngFor="let game of gameService.gamesAvailable">
    <button (click)="changeToOtherGame(game.gameConfig)">{{game.name}}</button>
    <hr>
</ng-container>