<div class="flex flex-col items-center justify-center min-h-screen p-4">
    <div
        class="min-h-[95vh] flex flex-col justify-evenly w-full max-w-2xl p-4 border-2 rounded-lg shadow-xl border-secondary-500 ">
        <app-user-profile class="w-full mb-auto" [currentUser]="authService.currentUser$ | async"></app-user-profile>
        <div class="flex-[2] max-h-[40vh] flex flex-col justify-center items-center">
            <ng-container *ngIf="matchResult && !loading; else noMatchResult">
                <p class="game-selection machine">{{matchResult.player2Selection.visual}}</p>
            </ng-container>
            <ng-template #noMatchResult>
                <ng-container *ngIf="loading; else noLoading">
                    <p class="game-selection machine animate-spin">🤖</p>
                </ng-container>
                <ng-template #noLoading>
                    <p class="game-selection machine"></p>
                </ng-template>
            </ng-template>
        </div>
        <div class="min-h-[2rem]">
            <p *ngIf="!loading" class="text-2xl text-center text-white uppercase">{{matchResult?.result}}</p>
        </div>
        <div class="flex flex-wrap gap-1 justify-evenly max-h-[40vh] flex-[2] items-center overflow-auto">
            <ng-container *ngFor="let option of gameService.game">
                <button class="game-selection" *ngIf="(authService.currentUser$ | async) as user"
                    (click)="playerSelection(option,user)">
                    {{option.visual}}
                </button>
            </ng-container>
        </div>
        <div class="flex justify-center mt-2">
            <button class="btn btn-secondary" (click)="showGames = !showGames">Show other games</button>
        </div>
        <app-modal-game-selection [showModal]="showGames" [gamesAvailable]="gameService.gamesAvailable"
            [changeGameFunction]="changeToOtherGame">
        </app-modal-game-selection>
    </div>
</div>