<div class="flex flex-col items-center justify-center min-h-screen p-4">
    <div
        class="min-h-[95vh] flex flex-col justify-evenly w-full max-w-2xl p-4 border-2 rounded-lg shadow-xl border-secondary-500 ">
        <app-user-profile class="w-full mb-auto" [currentUser]="authService.currentUser$ | async"></app-user-profile>
        <div class="flex flex-wrap gap-1 justify-evenly">
            <ng-container *ngFor="let option of gameService.game">
                <button class="game-selection" *ngIf="(authService.currentUser$ | async) as user"
                    (click)="playerSelection(option,user)">
                    {{option.visual}}
                </button>
            </ng-container>
        </div>
        <div class="flex justify-center mt-2">
            <button class="btn btn-secondary" (click)="showGames = !showGames">Show other games</button>
        </div>
        <!-- TODO refactor MODAL component -->
        <div *ngIf="showGames" class="relative z-10 " aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"></div>

            <div class="fixed inset-0 z-10 overflow-y-auto">
                <div (click)="showGames = !showGames"
                    class="flex items-end justify-center min-h-full p-4 text-center sm:items-center sm:p-0">
                    <div
                        class="relative overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:max-w-lg sm:w-full">
                        <div class="px-4 pt-5 pb-4 bg-white sm:p-6 sm:pb-4">
                            <div class="sm:flex sm:items-start">
                                <div
                                    class="flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto rounded-full bg-primary-800 sm:mx-0 sm:h-10 sm:w-10">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-primary-500"
                                        viewBox="0 0 20 20" fill="currentColor">
                                        <path
                                            d="M10 3.5a1.5 1.5 0 013 0V4a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-.5a1.5 1.5 0 000 3h.5a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-.5a1.5 1.5 0 00-3 0v.5a1 1 0 01-1 1H6a1 1 0 01-1-1v-3a1 1 0 00-1-1h-.5a1.5 1.5 0 010-3H4a1 1 0 001-1V6a1 1 0 011-1h3a1 1 0 001-1v-.5z" />
                                    </svg>
                                </div>
                                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                    <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Choose a
                                        game</h3>
                                    <div class="mt-2">
                                        <p class="text-sm text-gray-500">You can choose between 2 games: Rock Paper
                                            Scissors or.. Rock Paper Scissors Lazor Spock.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 sm:px-6 sm:flex sm:flex-row-reverse">
                            <ng-container *ngFor="let game of gameService.gamesAvailable">
                                <button (click)="changeToOtherGame(game.gameConfig)"
                                    class="w-full mb-2 btn btn-primary">{{game.name}}</button>
                            </ng-container>
                            <button (click)="showGames = !showGames" type="button"
                                class="w-full mb-2 btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>